</div>
<div class="footer">
    Copyright©2016 All Rights Reserved
</div>
</body>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();

        if($('.message-div').show()){
            setTimeout(function () {
                $('.message-div').slideUp()
            },500);
        }
    });
</script>
</html>